<ion-view>
    <div id="mine">
        <div class="row">
            <div class="col" style="color:#dedede;text-align: center;font-size: 2em">我的帐户</div>
        </div>
        <button class="button button-clear icon-right ion-ios-gear-outline btn" style="color:#dedede;font-size: 30px;float: right;margin-top: -15px;"></button>
        <div class="row rowimg">
            <div class="col" style="text-align: center;">
                <img src="images/toux.png" style="width:12vw;">
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <button class="button button-calm lodbtn">注&nbsp册&nbsp |&nbsp 登&nbsp陆</button>
            </div>
        </div>
        <div class="row" style="padding-top: 3em">
            <div class="col col-50">
                <button class="button button-outline ddbtn" style="width:100%"><i class="icon ion-ios-cart-outline"></i>&nbsp&nbsp我的订单</button>
            </div>
            <div class="col col-50">
                <button class="button button-outline ddbtn" style="width:100%"><i class="icon ion-social-yen-outline"></i>&nbsp&nbsp我的红包</button>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col mess">
                <i class="icon ion-heart i_icon"></i><br/>
                我的心愿单
            </div>
            <div class="col mess i_icon_m">
                <i class="icon ion-chatbox-working i_icon"></i><br/>
                我的消息
            </div>
        </div>
        <div class="row">
            <div class="col mess i_icon_di">
                <i class="icon ion-ios-location i_icon "></i><br/>
                地址管理
            </div>
            <div class="col mess i_icon_ke">
                <i class="icon ion-ios-people i_icon "></i><br/>
                良仓客服
            </div>
        </div>
    </div>


</ion-view>