<ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="商店" icon-on="ion-ios-medkit"
             icon-off="ion-ios-medkit-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="杂志" icon-on="ion-ios-book"
             icon-off="ion-ios-book-outline" ui-sref="tabs.category">
        <ion-nav-view name="tab-category"></ion-nav-view>
    </ion-tab>
    <ion-tab title="达人" icon-on="ion-ios-star"
             icon-off="ion-ios-star-outline" ui-sref="tabs.master">
        <ion-nav-view name="tab-master"></ion-nav-view>
    </ion-tab>
    <ion-tab title="分享" icon-on="ion-ios-browsers"
             icon-off="ion-ios-browsers-outline" ui-sref="tabs.share">
        <ion-nav-view name="tab-share"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人" icon-on="ion-ios-person"
             icon-off="ion-ios-person-outline" ui-sref="tabs.personal">
        <ion-nav-view name="tab-personal"></ion-nav-view>
    </ion-tab>
</ion-tabs>